
.card-img-top,
.imageCS {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin-left: 20px;
}

h1, 
p
 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    margin-right: 20px;
}

h1,
h2,
h3 {
    text-align: center;
    color:cadetblue;
}
body {
    background-image: url(https://sites.psu.edu/garyyoung/files/2016/06/background-1-1024x549.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p {
    color: grey;
    margin-right: 100px;
}

.card-link,
.list-group
 {
    border-style: solid;
    border-color: black;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cadetblue;
}

.contactpage {
    background-color: burlywood;
}

h5
 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgrey;
    

}

.card-body,
.card-quote,
.card-header-quote {
    background-color: black;
    text-align: center;
 }

h4
 {
    color: cadetblue
}




